*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: poppins;
    font-weight: 400;
}
.header{
    position: fixed; 
    width: 100%; 
    z-index: 100;
}
.navbar{
    background-color: rgba(53, 53, 53, 0.894) !important ;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important ;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.nav-link{
    color: rgb(255, 255, 255) !important;
}
.btn-outline-primary:hover{
    background-color: rgba(37, 88, 183, 0.595) !important;
}

.icon-container {
    transition: transform 0.5s ease-in-out;
}

.icon-container:hover {
    transform: rotateY(180deg); /* Gira 180 grados en el eje Y al pasar el mouse */
}
.dropdown-menu{
    background-color:  rgba(216, 214, 214, 0.901) !important;
}
.dropdown-item:hover{
    background-color: rgba(37, 88, 183, 0.595) !important;
}
/* Estilos de la parte de tendencias para card y demás */
.ofertas {
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con toques rojos más suave */
    font-size: 1.4em;
}

.texth2 {
    text-align: center; /* Centrar el texto */
    margin-bottom: 30px; /* Agregar espacio inferior */
}

h2 {
    font-size: 2.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff; /* Cambiar color del texto a blanco */
}

.card {
    margin-bottom: 30px;
    border: none; /* Eliminar borde */
    background-color: #f8f6f6f5; /* Cambiar color de fondo */
    border-radius: 10px; /* Agregar bordes redondeados */
    height: 100%; /* Altura fija para cada tarjeta */
}

.card-img-top {
    width: 100%;
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}



.card-body {
    padding: 20px; /* Añadir relleno */
    height: calc(100% - 200px); /* Calcular el alto restante para el cuerpo de la tarjeta */
    display: flex; /* Hacer que el contenido se alinee verticalmente */
    flex-direction: column; /* Alinear el contenido en columnas */
    justify-content: space-between; /* Distribuir el espacio verticalmente */
}

.card-title {
    font-size: 1.25rem; /* Ajustar tamaño del título */
    font-weight: bold;
    margin-bottom: 10px; /* Agregar espacio inferior */
}

.card-text {
    font-size: 1.1rem;
    color: #141414;
    font-weight: bold;
}

.btn-secondary {
    background: #ffffff !important; /* Cambiar color de fondo */
    color: #191818; /* Cambiar color del texto */
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #1e1e1e;
    padding: 8px 12px;
    border-radius: 3px;
    transition: all 0.35s;
}

.btn-secondary:hover {
    background: rgba(37, 88, 183, 0.8); /* Cambiar color de fondo en hover */
    color: #ffffff; /* Cambiar color del texto en hover */
    border-color: rgba(37, 88, 183, 0.8); /* Cambiar color del borde en hover */
}
/*Estilo de la parte de main*/
.cuerpo{
    padding: 3% 10%;
    background-color: rgba(0, 0, 0, 0.8); /* Negro con toques rojos */

}
.section-tittle{
    text-align: center;
    margin-top: 20px;
    color:#FFFFFF;
}
.section-tittle h2{
    font-family: bebas neue;
    font-size: 40px;
    /* text-decoration:overline; */
}
.section-tittle p{
    font-family: bebas neue;
    font-size: 20px;
}
#service{
    padding: 50px 0;
}
.content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 2fr) ); 
    grid-gap: 20px;
    margin-top: 50px;
}
.single-services{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.single-services img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.overlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: heigth 0.5s;
    color: #fff;
    height: 0;
    background: linear-gradient(transparent 10%,rgba(255,255,255,255,0.8) 35%);
    border-radius: 15px;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.overlay h3{
    font-weight: 100;
    margin-bottom: 5px;
    font-family: bebas neue;
    font-size: 25px;
}
.overlay a{
    text-decoration: none;
    background: rgb(49, 49, 49);
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 15px;
    text-transform: uppercase;
}
.single-services:hover img{ 
    transform: scale(1.4);
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
} 
.single-services:hover .overlay{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

/* Estilos personalizados para el footer */
.footer {
    background-color: rgb(41, 38, 38)  !important;
}

/* Estilos para la animación de los iconos */
.icon-link img {
    transition: transform 0.3s ease-in-out !important; /* Transición de transformación */
}

.icon-link:hover img {
    transform: scale(1.2) !important; /* Aumenta el tamaño del icono al hacer hover */
}

/* css para el registro e inicio de sesion */

.container_registro{
    background-color: rgba(37, 88, 183, 0.8);
    border: #141414;
    margin-left: 10px;
    margin-right: 10px;
}

label {
    color: white;
}
.text-center{
    color: white;
}
.btn-primary {
  background-color: #0c8fff; /* Color azul primario */
  border-color: #007bff;
}

.btn-primary-disabled {
  background-color: #0056b3; /* Tono más opaco del azul primario */
  border-color: #0056b3;
}
.registration-text {
  font-size: 1.1rem;  /* Ajuste el tamaño de fuente según sea necesario */
  margin-top: 1rem;  /* Ajuste el margen según sea necesario */
  text-align: center;  /* Centra el texto horizontalmente */
}
/* Estilos para los campos del formulario */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

h2 {
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
/* Responsive para tablets */
@media(max-width: 768px){

    .section-tittle h2{
        font-family: bebas neue;
        font-size: 30px;
       /* text-decoration:overline; */
    }

    .single-services img{
        width: 100%;
        border-radius: 15px;
        display: block;
        transition: transform 0.5s;
    }

    .single-services{
        border-radius: 15px;
        position: relative;
        text-align:center;
        overflow: hidden;
    }

}

@media(max-width: 500px){

    #boton{
        
        position: sticky;
        
        
        
    }
    #boton-arriba{
        border-radius: 50%;
        margin-bottom: 10px;
        width: 40px;
        top: 0;
        left: 95%;
    }
}

